@model CNPM.Models.KhachHang

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script>
        function Xoa() {
            confirm("BẠN CÓ CHẮC MUỐN XOÁ KHÁCH HÀNG NÀY?");
        }
    </script>
</head>


<h1>XOÁ KHÁCH HÀNG</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" onclick="Xoa();" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
