@model IEnumerable<CNPM.Models.KhachHang>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>KHÁCH HÀNG</h1>

<p>
    @Html.ActionLink("Thêm khách hàng mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaKH }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKH }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.MaKH })
            </td>
        </tr>
    }

</table>
