@model CNPM.Models.KhachHang

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>ĐĂNG NHẬP</h2>
<hr />
@using (Html.BeginForm("LoginAcountCus", "KhachHangs"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Session["chon"]" name="chon" />
    <table>
        <tr>
            <td style="padding: 5px">Tên đăng nhập</td>
            <td>@Html.TextBoxFor(model => model.tentk, new { style = "filed-validation-error" })</td>
            <td>@Html.ValidationMessageFor(model => model.tentk)</td>
        </tr>
        <tr>
            <td style="padding: 5px">@Html.LabelFor(model => model.mk)</td>
            <td>@Html.EditorFor(model => model.mk)</td>
            <td>@Html.ValidationMessageFor(model => model.mk)</td>
            @if (ViewBag.ErrorInfo == null)
            {
                <p>@ViewBag.ErrorInfo</p>
            }
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" class="btn btn-primary" /></td>
        </tr>
    </table>
}

