@model CNPM.Models.TaiKhoan

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }
</style>
<br />
<h2>ĐĂNG NHẬP</h2>
<hr />
@using (Html.BeginForm("LoginAcount", "LoginUser"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Session["chon"]" name="chon" />
    <table>
        <tr>
            <td style="padding: 5px">@Html.LabelFor(model => model.ID) </td>
            <td>@Html.TextBoxFor(model => model.ID, new { style = "filed-validation-error" })</td>
            <td>@Html.ValidationMessageFor(model => model.ID)</td>
        </tr>
        <tr>
            <td style="padding: 5px">@Html.LabelFor(model => model.MK)</td>
            <td>@Html.EditorFor(model => model.MK)</td>
            <td>@Html.ValidationMessageFor(model => model.MK)</td>
            @if (ViewBag.ErrorInfo == null)
            {
                <p>@ViewBag.ErrorInfo</p>
            }
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" class="btn btn-primary" /></td>
        </tr>
    </table>
}
