@model CNPM.Models.CTHD

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CTHD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @String.Format("{0:,0,000}", @Model.DonGia)
        </dd>

        <dt>
            Thành tiền
        </dt>

        <dd>
            @String.Format("{0:,0,000 đ}", @Model.ThanhTien)
        </dd>

        <dt>
            Địa chỉ giao hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDon.DiaChiGiao)
        </dd>

        <dt>
            Mã loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.maloai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
