@model IEnumerable<CNPM.Models.TaiKhoan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TÀI KHOẢN</h1>

<p>
    @Html.ActionLink("Thêm tài khoản mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaiTro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaiTro)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
